.lsd-scene-wrapper {
    display: grid;
    grid-column: 100vw;

    &-button {
        --mdc-text-button-label-text-color: #000;
        background-color: $lsd-primary;
        //background-color: lighten($lsd-background, 5%);
        justify-self: center;
        width: 90%;
    }
}

.lsd-scene-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0.6rem;
    padding-top: 1rem;
    user-select: none;
}

.lsd-scene-item {
    width: 100%;
    height: 4rem;
    border-radius: 3px;
    display: grid;
    align-items: center;
    grid-template-columns: 2rem auto 3.5rem;
    overflow: hidden;
    background-color: lighten($lsd-background, 5%);

    transition: height .5s;

    &-drag {
        cursor: move;
    }

    &-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: large;

        a {
            margin: 0;
            padding: 0;
            font-weight: normal;
            font-size: 1.6rem;
            color: $lsd-on-background;
            text-decoration: none;
        }

        &-expanded {
            height: 0;
            margin-top: 0.3rem;
            overflow: hidden;
            transition: height .5s;
        }
    }

    &.expanded {
        height: 6rem;
        background: linear-gradient(0deg, var(--color) 0%, lighten($lsd-background, 5%) 25%);
        

        .lsd-scene-item-close {
            color: $lsd-primary;
        }

        .lsd-scene-item-content-expanded {
            height: 3rem;
        }
    }
    
    &-close {
        font-size: 1.5rem;

        &:hover {
            color: $lsd-primary;
        }
    }

    &.spacer {
        opacity: 0;
        height: 0;
    }
}

@media screen and (min-width: 55rem) {
    .lsd-scene-wrapper-button {
        order: -1;
        justify-self: end;
        margin-top: .6rem; 
        margin-right: .6rem;
        width: 10rem;
    }

    .lsd-scene-item {
        max-width: 28rem;
    }
}
