.lsd-scene-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0.4rem;
    user-select: none;
}

.lsd-scene-item {
    width: 100%;
    max-width: 25rem;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 2rem auto;
    overflow: hidden;
    background: linear-gradient(0deg, var(--color) 0%, lighten($lsd-background, 5%) 20%);

    &-drag {
        display: grid;
        align-content: center;
        cursor: move;
    }

    &-content {
        display: grid;
        grid-template-columns: auto 3.5rem;
        h2 {
            margin-bottom: 0.4rem;
        }
        i {
            font-size: 1.5rem;
            padding: 1rem;
        }
        &-color {
            height: 5px;
            grid-column: span 2;
            background: linear-gradient(0deg, rgba(9,9,121,1) 35%, rgba(0,212,255,0) 100%);
        }
    }

    .dummy {
        opacity: 0;
        height: 0;
    }
}
