:root {
  --mdc-theme-primary: $lsd-primary;
  --mdc-theme-secondary: $lsd-secondary;
  --mdc-theme-background: lighten($lsd-background, 3%);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #292b2c;
  color: whitesmoke;
  overflow: hidden;
}

main {
  grid-area: "main";
  background-color: #1d1e1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lsd-container {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 3rem auto;
      grid-template-rows: 3rem auto;
      grid-template-areas: "nav" "main";
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
}

.lsd-content-scroller {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw 100vw 100vw 100vw;
      grid-template-columns: 100vw 100vw 100vw 100vw;
  overflow: hidden;
  width: 100vw;
}

.content-scroller-child {
  overflow: hidden;
  position: absolute;
  top: 3rem;
  width: 100vw;
  height: calc(100vh - 5.2rem);
  left: 0;
}

.content-scroller-child.hidden {
  left: -100vw;
}

.content-scroller-child.fadein {
  -webkit-animation: scroller_fade_in .5s ease-in;
          animation: scroller_fade_in .5s ease-in;
}

@-webkit-keyframes scroller_fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scroller_fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-scroller-child.scrollInReadDir {
  -webkit-animation: scroller_in_read .5s ease-in-out;
          animation: scroller_in_read .5s ease-in-out;
}

@-webkit-keyframes scroller_in_read {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

@keyframes scroller_in_read {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

.content-scroller-child.scrollInAntiReadDir {
  -webkit-animation: scroller_in_anti_read .5s ease-in-out;
          animation: scroller_in_anti_read .5s ease-in-out;
}

@-webkit-keyframes scroller_in_anti_read {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}

@keyframes scroller_in_anti_read {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}

.content-scroller-child.scrollOutReadDir {
  -webkit-animation: scroller_out_read .5s ease-in-out;
          animation: scroller_out_read .5s ease-in-out;
}

@-webkit-keyframes scroller_out_read {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}

@keyframes scroller_out_read {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}

.content-scroller-child.scrollOutAntiReadDir {
  -webkit-animation: scroller_out_anti_read .5s ease-in-out;
          animation: scroller_out_anti_read .5s ease-in-out;
}

@-webkit-keyframes scroller_out_anti_read {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}

@keyframes scroller_out_anti_read {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}

@media screen and (min-width: 30rem) {
  .content-scroller-child {
    width: calc(100vw - 10rem);
    left: 10rem;
    top: 0;
  }
  .content-scroller-child.hidden {
    left: 10rem;
    top: -100vh;
  }
  .content-scroller-child.fadein {
    -webkit-animation: scroller_fade_in .5s ease-in;
            animation: scroller_fade_in .5s ease-in;
  }
  @-webkit-keyframes scroller_fade_in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes scroller_fade_in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .content-scroller-child.scrollInReadDir {
    -webkit-animation: scroller_in_read .5s ease-in-out;
            animation: scroller_in_read .5s ease-in-out;
  }
  @-webkit-keyframes scroller_in_read {
    from {
      top: -100vh;
    }
    to {
      top: 0;
    }
  }
  @keyframes scroller_in_read {
    from {
      top: -100vh;
    }
    to {
      top: 0;
    }
  }
  .content-scroller-child.scrollInAntiReadDir {
    -webkit-animation: scroller_in_anti_read .5s ease-in-out;
            animation: scroller_in_anti_read .5s ease-in-out;
  }
  @-webkit-keyframes scroller_in_anti_read {
    from {
      top: 100vh;
    }
    to {
      top: 0;
    }
  }
  @keyframes scroller_in_anti_read {
    from {
      top: 100vh;
    }
    to {
      top: 0;
    }
  }
  .content-scroller-child.scrollOutReadDir {
    -webkit-animation: scroller_out_read .5s ease-in-out;
            animation: scroller_out_read .5s ease-in-out;
  }
  @-webkit-keyframes scroller_out_read {
    from {
      top: 0;
    }
    to {
      top: 100vh;
    }
  }
  @keyframes scroller_out_read {
    from {
      top: 0;
    }
    to {
      top: 100vh;
    }
  }
  .content-scroller-child.scrollOutAntiReadDir {
    -webkit-animation: scroller_out_anti_read .5s ease-in-out;
            animation: scroller_out_anti_read .5s ease-in-out;
  }
  @-webkit-keyframes scroller_out_anti_read {
    from {
      top: 0;
    }
    to {
      top: -100vh;
    }
  }
  @keyframes scroller_out_anti_read {
    from {
      top: 0;
    }
    to {
      top: -100vh;
    }
  }
}

footer {
  height: 2.2rem;
  padding: .5rem;
  background-color: #161617;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

footer span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer a {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: whitesmoke;
}

.lsd-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: "nav";
  width: 100vw;
}

.lsd-navigation-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  text-decoration: none;
  color: whitesmoke;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  scroll-margin: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lsd-navigation-item i {
  font-size: 1.5rem;
  padding-bottom: .1rem;
}

.lsd-navigation-item span {
  font-size: .9rem;
  display: none;
}

.lsd-navigation-item:hover {
  background-color: #292b2c;
}

.lsd-navigation-item:target {
  background-color: #292b2c;
  color: #63b763;
}

.lsd-navigation-item:target i {
  font-size: 1.5rem;
}

.lsd-navigation-item:target span {
  display: block;
}

@media screen and (max-width: 30rem) {
  @-webkit-keyframes nav_item_icon {
    from {
      font-size: 1.5rem;
    }
    to {
      font-size: 1.3rem;
    }
  }
  @keyframes nav_item_icon {
    from {
      font-size: 1.5rem;
    }
    to {
      font-size: 1.3rem;
    }
  }
  @-webkit-keyframes nav_item_grow {
    from {
      font-size: 0rem;
      opacity: 0;
    }
    to {
      font-size: .9rem;
      opacity: 1;
    }
  }
  @keyframes nav_item_grow {
    from {
      font-size: 0rem;
      opacity: 0;
    }
    to {
      font-size: .9rem;
      opacity: 1;
    }
  }
  .lsd-navigation-item:target i {
    -webkit-animation: nav_item_icon .12s ease-in-out;
            animation: nav_item_icon .12s ease-in-out;
  }
  .lsd-navigation-item:target span {
    -webkit-animation: nav_item_grow .12s ease-in-out;
            animation: nav_item_grow .12s ease-in-out;
  }
}

@media screen and (min-width: 30rem) {
  .lsd-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    max-height: 20rem;
  }
  .lsd-navigation-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 10rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 1rem;
  }
  .lsd-navigation-item i {
    font-size: 1.3rem;
  }
  .lsd-navigation-item i:target {
    -webkit-animation: none;
            animation: none;
  }
  .lsd-navigation-item span {
    padding-left: .5rem;
    display: block;
  }
  .lsd-container {
    -ms-grid-columns: 10rem auto;
        grid-template-columns: 10rem auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "nav main";
  }
}

.lsd-scene-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 100;
  grid-column: 100vw;
}

.lsd-scene-wrapper-button {
  --mdc-text-button-label-text-color: #000;
  background-color: #63b763;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 90%;
}

.lsd-scene-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.6rem;
  padding-top: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lsd-scene-item {
  width: 100%;
  height: 4rem;
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 2rem auto 3.5rem;
      grid-template-columns: 2rem auto 3.5rem;
  overflow: hidden;
  background-color: #292b2c;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.lsd-scene-item-drag {
  cursor: move;
}

.lsd-scene-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: large;
}

.lsd-scene-item-content h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.lsd-scene-item-content-expanded {
  height: 0;
  margin-top: 0.3rem;
  overflow: hidden;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.lsd-scene-item.expanded {
  height: 6rem;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--color)), color-stop(25%, #292b2c));
  background: linear-gradient(0deg, var(--color) 0%, #292b2c 25%);
}

.lsd-scene-item.expanded .lsd-scene-item-close {
  color: #63b763;
}

.lsd-scene-item.expanded .lsd-scene-item-content-expanded {
  height: 3rem;
}

.lsd-scene-item-close {
  font-size: 1.5rem;
}

.lsd-scene-item-close:hover {
  color: #63b763;
}

.lsd-scene-item.spacer {
  opacity: 0;
  height: 0;
}

@media screen and (min-width: 55rem) {
  .lsd-scene-wrapper-button {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-top: .6rem;
    margin-right: .6rem;
    width: 10rem;
  }
  .lsd-scene-item {
    max-width: 28rem;
  }
}

.lsd-hardware-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 100;
  grid-column: 100vw;
}

.lsd-hardware-wrapper-button {
  --mdc-text-button-label-text-color: #000;
  background-color: #63b763;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 90%;
}

.lsd-hardware-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.6rem;
  padding-top: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lsd-hardware-item {
  width: 100%;
  height: 10rem;
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 10rem;
      grid-template-columns: auto 10rem;
  overflow: hidden;
  background-color: #292b2c;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
}

.lsd-hardware-item .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: whitesmoke;
}

.lsd-hardware-item .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: whitesmoke;
}

.lsd-hardware-item select {
  margin-bottom: .5rem;
  background-color: transparent;
  border-color: #1d1e1f;
  border-radius: 5%;
  border-width: 1px;
  height: 3.5rem;
  overflow: visible;
  color: whitesmoke;
}

.lsd-hardware-item select option {
  background-color: #363839;
  border-color: transparent;
}

.lsd-hardware-item h2 {
  padding: 0;
  padding-top: .5rem;
  margin: 0;
  color: #5db9c1;
  font-weight: normal;
}

.lsd-hardware-item h4 {
  font-weight: normal;
}

.lsd-hardware-item button {
  width: 4rem;
  -ms-grid-column-align: end;
      justify-self: end;
  visibility: hidden;
}

.lsd-hardware-item.spacer {
  opacity: 0;
  height: 0;
}

@media screen and (min-width: 55rem) {
  .lsd-hardware-wrapper-button {
    --mdc-text-button-label-text-color: #000;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-top: .6rem;
    margin-right: .6rem;
    width: 10rem;
  }
  .lsd-hardware-item {
    max-width: 28rem;
  }
}

.lsd-settings-container {
  background-color: green;
}
/*# sourceMappingURL=styles.css.map */