$lsd-background: hsl(11, 0%, 21%);
$lsd-primary: #4ecc4e;
$lsd-secondary:  #57BEC7;
$lsd-on-background: white;

$lsd-nav-desk-width: 10rem;
$lsd-nav-mobil-height: 3rem;


:root {
    --mdc-theme-primary: $lsd-primary;
    --mdc-theme-secondary: $lsd-secondary;
    --mdc-theme-background: lighten($lsd-background, 5%);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    //font-family: 'Be Vietnam Pro', sans-serif;
    background: darken($lsd-background, 5%);
    color: $lsd-on-background;
    overflow: hidden;
}

main {
    grid-area: "main";
    background-color: $lsd-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.lsd-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: $lsd-nav-mobil-height auto;
    grid-template-areas: "nav" "main";
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
}

.lsd-content-scroller {
    display: grid;
    grid-template-columns: 100vw 100vw 100vw 100vw;
    overflow: hidden;
    width: 100vw;
}

.content-scroller-child {
    overflow: hidden;
    position: absolute;
    top: $lsd-nav-mobil-height;
    width: 100vw;
    height: calc(100vh - 5.2rem);
    left: 0;

    &.hidden {
        left: -100vw;
    }

    &.fadein {
        animation: scroller_fade_in .5s ease-in;
        @keyframes scroller_fade_in {
            from{opacity: 0;}
            to{opacity: 1;}
        }
    }

    &.scrollInReadDir {
        animation: scroller_in_read .5s ease-in-out;
        @keyframes scroller_in_read {
            from{left:-100vw;}
            to{left:0;}
        }
    }

    &.scrollInAntiReadDir {
        animation: scroller_in_anti_read .5s ease-in-out;
        @keyframes scroller_in_anti_read {
            from{left: 100vw;}
            to{left:0;}
        }
    }

    &.scrollOutReadDir {
        animation: scroller_out_read .5s ease-in-out;
        @keyframes scroller_out_read {
            from{left:0;}
            to{left:100vw;}
        }
    }

    &.scrollOutAntiReadDir {
        animation: scroller_out_anti_read .5s ease-in-out;
        @keyframes scroller_out_anti_read {
            from{left: 0}
            to{left:-100vw}
        }
    }
    
}


@media screen and (min-width: 30rem) {
    .content-scroller-child {
        width: calc(100vw - 10rem);
        left: $lsd-nav-desk-width;
        top: 0;

        &.hidden {
            left: $lsd-nav-desk-width;
            top: -100vh;
        }

        &.fadein {
            animation: scroller_fade_in .5s ease-in;
            @keyframes scroller_fade_in {
                from{opacity: 0;}
                to{opacity: 1;}
            }
        }

        &.scrollInReadDir {
            animation: scroller_in_read .5s ease-in-out;
            @keyframes scroller_in_read {
                from{top:-100vh;}
                to{top:0;}
            }
        }

        &.scrollInAntiReadDir {
            animation: scroller_in_anti_read .5s ease-in-out;
            @keyframes scroller_in_anti_read {
                from{top: 100vh;}
                to{top:0;}
            }
        }

        &.scrollOutReadDir {
            animation: scroller_out_read .5s ease-in-out;
            @keyframes scroller_out_read {
                from{top:0;}
                to{top:100vh;}
            }
        }

        &.scrollOutAntiReadDir {
            animation: scroller_out_anti_read .5s ease-in-out;
            @keyframes scroller_out_anti_read {
                from{top: 0}
                to{top:-100vh}
            }
        }
    }
}

footer {
    height: 2.2rem;
    padding: .5rem;
    background-color: darken($lsd-background, 5%);
    display: flex;
    justify-content: space-between;
    z-index: 2;

    span {
        align-self: center;
    }
    a {
        align-self: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $lsd-on-background;
    }
}


@import "_navbar.scss";
@import "_scene.scss";
@import "_hardware.scss";
@import "_segments.scss";
@import "_settings.scss";