$lsd-background: rgb(29, 30, 31);
$lsd-background-bright: lighten($lsd-background, 5%);
$lsd-primary: #7ec37e;
$lsd-secondary:  #7d7fc4;
$lsd-on-background: whitesmoke;
$lsd-on-primary: #000000;
$lsd-on-secondary: #000000;

$lsd-nav-desk-width: 10rem;
$lsd-nav-mobil-height: 3rem;

:root {
    --mdc-theme-primary: #var($lsd-primary);
    --mdc-theme-secondary: #var($lsd-secondary);
    --mdc-theme-background: #var(lighten($lsd-background, 3%));
    --mdc-theme-error: #CF6679;
    --mdc-theme-surface: #var($lsd-background);
    --mdc-theme-on-primary: #var($lsd-on-primary);
    --mdc-theme-on-secondary: #var($lsd-on-secondary);
    --mdc-theme-on-surface: #var($lsd-on-background);
    --mdc-theme-on-error: #000;
    --mdc-theme-text-primary-on-background: #var($lsd-primary);
    --mdc-theme-text-secondary-on-background: #var($lsd-secondary);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: #0000FF;
    --mdc-theme-text-icon-on-background: #0000FF;
    --mdc-theme-text-primary-on-light: #0000FF;
    --mdc-theme-text-secondary-on-light: #0000FF;
    --mdc-theme-text-hint-on-light: #0000FF;
    --mdc-theme-text-disabled-on-light: #0000FF;
    --mdc-theme-text-icon-on-light: #0000FF;
    --mdc-theme-text-primary-on-dark: #0000FF;
    --mdc-theme-text-secondary-on-dark: #0000FF;
    --mdc-theme-text-hint-on-dark: #0000FF;
    --mdc-theme-text-disabled-on-dark: #0000FF;
    --mdc-theme-text-icon-on-dark: #0000FF;
}

body {
    overflow: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    //font-family: 'Be Vietnam Pro', sans-serif;
    background: lighten($lsd-background, 5%);
    color: $lsd-on-background;
}

main {
    grid-area: "main";
    background-color: $lsd-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.lsd-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: $lsd-nav-mobil-height auto;
    grid-template-areas: "nav" "main";
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
}

.lsd-content-scroller {
    display: grid;
    grid-template-columns: 100vw 100vw 100vw 100vw;
    width: 100vw;
}

.content-scroller-child {
    overflow: auto;
    position: absolute;
    top: $lsd-nav-mobil-height;
    width: 100vw;
    height: calc(100vh - 5.2rem - 2.2rem);
    left: 0;

    &.hidden {
        left: -100vw;
    }

    &.fadein {
        animation: scroller_fade_in .5s ease-in;
        @keyframes scroller_fade_in {
            from{opacity: 0;}
            to{opacity: 1;}
        }
    }

    &.scrollInReadDir {
        animation: scroller_in_read .5s ease-in-out;
        @keyframes scroller_in_read {
            from{left:-100vw;}
            to{left:0;}
        }
    }

    &.scrollInAntiReadDir {
        animation: scroller_in_anti_read .5s ease-in-out;
        @keyframes scroller_in_anti_read {
            from{left: 100vw;}
            to{left:0;}
        }
    }

    &.scrollOutReadDir {
        animation: scroller_out_read .5s ease-in-out;
        @keyframes scroller_out_read {
            from{left:0;}
            to{left:100vw;}
        }
    }

    &.scrollOutAntiReadDir {
        animation: scroller_out_anti_read .5s ease-in-out;
        @keyframes scroller_out_anti_read {
            from{left: 0}
            to{left:-100vw}
        }
    }
    
}


@media screen and (min-width: 30rem) {
    .content-scroller-child {
        width: calc(100vw - 10rem);
        height: calc(100vh - 2.2rem);
        left: $lsd-nav-desk-width;
        top: 0;

        &.hidden {
            left: $lsd-nav-desk-width;
            top: -100vh;
        }

        &.fadein {
            animation: scroller_fade_in .5s ease-in;
            @keyframes scroller_fade_in {
                from{opacity: 0;}
                to{opacity: 1;}
            }
        }

        &.scrollInReadDir {
            animation: scroller_in_read .5s ease-in-out;
            @keyframes scroller_in_read {
                from{top:-100vh;}
                to{top:0;}
            }
        }

        &.scrollInAntiReadDir {
            animation: scroller_in_anti_read .5s ease-in-out;
            @keyframes scroller_in_anti_read {
                from{top: 100vh;}
                to{top:0;}
            }
        }

        &.scrollOutReadDir {
            animation: scroller_out_read .5s ease-in-out;
            @keyframes scroller_out_read {
                from{top:0;}
                to{top:100vh;}
            }
        }

        &.scrollOutAntiReadDir {
            animation: scroller_out_anti_read .5s ease-in-out;
            @keyframes scroller_out_anti_read {
                from{top: 0}
                to{top:-100vh}
            }
        }
    }
}

footer {
    height: 2.2rem;
    padding: .5rem;
    background-color: darken($lsd-background, 3%);
    display: flex;
    justify-content: space-between;
    z-index: 2;

    span {
        align-self: center;
    }
    a {
        align-self: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $lsd-on-background;
    }
}


@import "_navbar.scss";
@import "_scene.scss";
@import "_scene-edit.scss";
@import "_hardware.scss";
@import "_segments.scss";
@import "_settings.scss";