$lsd-background: hsl(11, 0%, 21%);
$lsd-primary: #1d641d;
$lsd-secondary:  #57BEC7;
$lsd-on-background: white;


:root {
    --mdc-theme-primary: $lsd-primary;
    --mdc-theme-secondary: $lsd-secondary;
    --mdc-theme-background: $lsd-background;
}

body {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    background: darken($lsd-background, 5%);
    color: $lsd-on-background;
}

main {
    grid-area: "main";
    background-color: $lsd-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

footer {
    padding: .5rem;
}


@import "navbar.scss";
@import "scene.scss";